<div class="container">
  <h1 class="text-center m-5">網址已失效或是連結有誤</h1>

  <div class="row">
    <div class="col-md-6 m-auto text-center">
      <div class="mb-3">請點擊下方網址，回到首頁重新操作，感謝～</div>
      前往 => <a href="{{{baseUrl}}}">{{{baseUrl}}}</a>
    </div>
  </div>
</div>